
<div class = "center jumbotron">
   <h1> Welcome to Lego Ventures </h1>
      <h2>
          This is the home page for lego ventures the leading venture capital firm for Lego Towns
      </h2>
</div>
